@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu;
  background: #161b28;
}

#root{
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: 64px auto;
  grid-template-areas: 
  "header header"
  "sidenav main";
}